.footer{
    background-color: #FFFA90;
    text-align: center;
    position: fixed;
    height:50px;
    bottom: -70px;
    left: 0px;
    right: 0px;
    /*margin-bottom: 0px;*/
    color: #4e803e;
    font-weight:bolder;
}
.footer_paragraph{
    margin-top: -40px;
}



